body {
	padding: 0px;
	margin: 0px;
	font-family: Roboto;
	color: #333;
	background-color: #ffffff;
	width: 100%; 
	height: 100%;
}

#wrapper {
	text-align: center;
}

#canvas-holder {
	margin: 20px auto;
}

canvas {
	border-style: solid;
	border-radius: 8px;
}

#slider {
	position: relative;
	top: 2px;
}

#download {
	color: #666;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.5px;
	cursor: pointer;
	transition: 150ms ease-in-out;
	border-radius: 4px;
	padding: 6px 12px;
	position: relative;
	top: -1px;
	margin-left: 30px;
}

#download:hover {
	background-color: #d2d2d0;
}
