body {
	padding: 0px;
	margin: 0px;
	font-family: Roboto;
	color: #333;
	background-color: #ffffff;
	width: 100%; 
	height: 100%;
}

#wrapper {
	text-align: center;
}

#canvas-holder {
	margin: 20px auto;
}

canvas {
	border-style: solid;
	border-radius: 8px;
}

#slider {
	position: relative;
	top: 2px;
}
